extends ../layout

block content
  h1 Moneygram Terms and Conditions
  //- p Welcome to #{title}
  //- i HELLLO
  h1 1.   Introduction

  p 1.1 The MoneyGram® money transfer service (“Service”) is provided by MoneyGram Payment Systems Philippines, Inc. (“MoneyGram”, “we” or “us”) through a network of agents, authorized delegates, or other permitted entities (“Agents”).These Terms and Conditions, along with the Documentation (as defined in Section 1.3) used in connection with the Service to which these Terms and Conditions may be included or attached, constitute the entire agreement (“Agreement”) between MoneyGram and you, the individual recipient of the Service (“you” or “Receiver”).
  p 1.2. Agreement and the Service allow you to receive a money transfer (a “Transfer” ) that has been sent using our Service from an individual (“Sender”). The Transfer has been sent to you in a currency and amount specifically designated by the Sender. MoneyGram will not charge you any fees for receiving the Transfer. The Service is available to you only in your individual capacity known to the Sender.
  p 1.3. You must sign this Agreement and any other documentation related to the Transfer, including all forms, receipts, or acknowledgments (collectively, the “Documentation”) fully and accurately in order to use the Service.
  p 1.4.   By using, or attempting to use, the Service in any capacity, you are acknowledging that you (i) accept the terms of this Agreement, (ii) have read the Documentation relating to the Transfer and that the information as described on the Documentation is accurate, and (iii) have received from the Agent the currency and amount described in this Agreement and/or the Documentation. To the extent you desire to exchange the Transfer into a currency other than the currency as described in this Agreement, you further acknowledge and agree that any subsequent exchange of the Transfer is a separate transaction from the Service and is subject to the provisions of Section 6 of this Agreement
  p 1.5.   You must provide the Agent with valid identification to receive the Transfer. We will not have any liability in the event that the Transfer is disbursed, when and as applicable, to an individual who provides valid identification to the Agent describing such person as the Receiver (even if such identification was false or forged) and provides a Reference Number.
  
  h1 2.   RESTRICTIONS ON SERVICE

  p 2.1.   You acknowledge that the Sender or MoneyGram, in certain circumstances, may cancel the Transfer designated for you at any time prior to your receipt and that upon such event, you will not be entitled to receive the Transfer.
  p 2.2.   The Service, or your ability to receive the Transfer, may also be delayed, restricted or unavailable depending upon the Service selected by the Sender, Agent hours of operation, the amount of the Transfer, currency availability, and legal, and regulatory compliance, including ID requirements. We will not disburse the Transfer to you if we believe that the Transfer or the Service is being used in any way to violate applicable laws, regulations, codes or MoneyGram’s policies and procedures, including any association with fraud, anti-money laundering laws, or other illegal activity.
  p 2.3.   If the Transfer is not disbursed to you, you may contact MoneyGram to inquire into the status of the Transfer and MoneyGram may be able to assist you, subject to all applicable laws and regulations relating to our Services and MoneyGram's policies and procedures.

  h1 3.   GENERAL

  p 3.1.   Unless prohibited by law, we will not be liable to you for any issues arising in connection with the Transfer. In certain circumstances, the Sender may be entitled to a refund of the Transfer and/or certain fees paid in connection with the Transfer.
  p 3.2.   The Transfer and use of the Service does not involve you having a “deposit” or an account with MoneyGram or an Agent.
  p 3.3.   Services are directed to persons 18 years and over and may not be used for escrow purposes or gambling, and may only be used for a lawful purpose. In the event of any conflict between the English version of the Agreement and any translated version of the Agreement, the English version of the Agreement shall govern and MoneyGram will communicate with you in English.
  p 3.4.   This Agreement does not and is not intended to confer any rights or remedies upon any person other than you and MoneyGram.

  h1 4.   PRIVACY AND SHARING OF YOUR INFORMATION; DATA PROTECTION

  p 4.1.   his Notice applies to personal information MoneyGram collects about you. The information we collect and use, depend on the product or service you have with us, including but not limited to, your contact information and identification. We may share your information with third-parties, including affiliated companies, to process your transactions, market our products and services to you, detect and prevent fraud and other illegal activities, such as money laundering activities, or to cooperate with criminal or government investigations, in accordance to applicable laws. Your personal information may be transferred outside the country of collection for international transfers and for processing. For details on our privacy practices and your rights, please visit 
    a(href="www.moneygram.com/privacy-notice") www.moneygram.com/privacy-notice
  p 4.2.   To opt out of receiving marketing communication from us, you may: (i) click on the “unsubscribe” link at the bottom of the MoneyGram marketing email you've received; (ii) reply “MGISTOP” to a text or SMS message; or (iii) contact us at privacyprogramoffice@moneygram.com.
  
  h1 5.   CUSTOMER SERVICE

  p We are committed to ensuring that you receive high quality service from MoneyGram. In the 5. event that you are dissatisfied with our Service or believe that an error has occurred with your Transfer, please contact us as soon as possible. For full details of our complaints procedure or consumer protection advice, or to submit a complaint, you can:

  ul
    li call us on our free phone number 180011102623 (PLDT Line) (you may be charged for calls to this number by mobile phone); Landline - (02) 8540-1174
    li visit our website 
      a(href="www.moneygram.com") www.moneygram.com
      span  and submit the online form"
    li write to us at: MoneyGram International, Konstruktorska Business Centre, 13 Konstruktorska Street, Warsaw, Poland 02-673
  
  p MoneyGram Payment Systems Philippines, Inc. is regulated by the Bangko Sentral ng Pilipinas. If you are dissatisfied with the outcome of our internal dispute resolution process, you may lodge a complaint with the Bangko Sentral ng Pilipinas (“BSP”) through its Consumer Assistance Mechanism. You can contact the BSP by emailing consumeraffairs@bsp.gov.ph or calling (02)-8708-7087.
  
  h1 6.   SEPERATE ARRANGEMENTS

  p In addition to their offering of our Service, Agents may offer you their own products or services such as currency exchange. These additional products or services are separate and independent from the Service, are offered under the Agent’s own terms and conditions, and do not involve MoneyGram in any way. These additional products and services are likely to have their own fees associated with them.
  
  //- .div_wrapper WELL
  //-   .div_child CHILD