extends ../layout

block content
  h3
    center U CASH PADALA
  h3 
    center TERMS AND CONDITIONS
  p This Agreement governs your usage of the U CASH PADALA Service thru several channels as defined below. It is hereby understood that you voluntarily agree to be bound by the terms and conditions in this Agreement once you accept, fund, or use the U CASH PADALA Service.

  ol
    li Definition of Terms - In this document, 'USSC' means Universal Storefront Services Corporation; 'U CASH PADALA Service' is an in-house, non-exclusive, non-Western Union branded domestic money transfer service thru several modes or channels. ‘ U CASH PADALA Transactions’ may be processed thru the following channels (a) Sending and receiving money by retail thru USSC and Partner agents locations nationwide (c) ‘Super U App’ which is a medium or mobile technology wherein a customer can do his/her regular transactions through an application designed by USSC to run on a mobile device or a tablet computer. ‘User’ refers to enrolled and activated users of the Super U App. ‘Super U App Transactions’ refers to , but not limited to, the following transactions: (a) Load U Wallet (Powered by UMSI) directly from a bank account; (b) Check real time balance for U Wallet (Powered by UMSI); (c) Send and Receive international (IMT) and/or domestic money (DMT) transfer through in-house or partner services; (d) Transfer funds from U Wallet (Powered by UMSI) to other channels such as the U Cash Card, another U Wallet (Powered by UMSI) , and / or a Bank Account ; (e) Currency Exchange; (f) Buy Load; (g) Pay Bills; (h) Purchase U-Insure products;(i) Purchase and/or payment of goods and services offered by USSC accredited vendors and/or dealers. ‘UserID’ refers to a unique set of characters nominated by the User to allow his/her access in the USSC Service Apps, ‘Password’ refers to a unique string of characters nominated by the user in conjunction with the UserID to also allow access in the mobile app. 'U Wallet (Powered by UMSI)' refers to an electronic wallet with balance loaded thru cash-in and drawn out thru cash-out from any eligible USSC branch.
    br
    br
    li Enrolment Process, Data Privacy Gathering, Protection and Consent. You acknowledge that during the process of transacting, personal and/or sensitive personal data (“data”) shall be asked from you or forms shall be filled up requiring these data. The collection, use or processing of these data shall be in accordance with Data Privacy Act of 2012. In addition to these data, you shall be required to undergo electronic fingerprint scanning or biometrics for personal identification and security purposes. You give your consent to the collection and necessary use of these data, such as but not limited to the following purpose/s:
    ul
      li Personal identification for enrolment and access or use of USSC U Cash Padala Service;
      li Personal identification or Know-Your-Customer (KYC) procedures pursuant to the law on anti-money laundering;
      li Business or commercial purposes related to USSC U Cash Padala Service and/or third party commissioned studies or analytics related to the USSC U Cash Padala Service;
      li Other legitimate, business or commercial purposes which USSC may determine from time to time.
      li Choosing and validation of transaction type for USSC U Cash Padala Service.
      li To learn more about USSC’s Private Policy, please visit:https://ussc.com.ph/privacy-policy/

    br
    br
    li  Enrollment and Activation Requirements – You understand that prior to the use of U CASH PADALA thru the Super U App, you are required to have an active U Wallet and/or enrolled or signed up with the Super U App. Enrolment, activation or sign up are governed by separate terms and conditions
    br
    br
    li Accuracy of Information - You are responsible for and must take all reasonable care to ensure the information you supply is accurate. We accept no responsibility and liability for the accuracy of the information or for failure to transmit such information in the manner requested by you.
    br
    br
    li USSC CASH PADALA Service Transactions – U CASH PADALA transactions maybe done thru the following channels or modes:
    ul
      li You may send/receive money during business hours via over-the-counter (OTC) at any eligible USSC and /or Partner agent branch;
      li You may send/receive money via the Super U App subject to the terms and conditions governing the use of the app;
      li You may send money using your enrolled U Wallet via over-the-counter (OTC) at any eligible USSC branch;
      li Only the enrolled account owner of Super U App or U Wallet is allowed to transact using the said channels
    br
    br
    li Fees and Charges . U CASH PADALA Service is subject to standard fees and charges. USSC reserves all rights to debit the U Wallet balance for the service fees and charges related to the use of the U CASH PADALA Service. The rate of such charges, period and method of payment shall be based on USSC’s announcement which shall be communicated to you by posting notice of such amendment in all the branches of USSC or in such other form or manner as may be determined by USSC. The charges shall be binding and payable by you if the U Wallet is still being used after the announcement whether you have knowledge of the announcement or not. If in cases of reversals, charges may be refundable if transaction has not yet been consumed
    br
    br
    li Customer’s Obligation. For your protection, you agree, at all times, to: (a) safely keep any information about the U CASH PADALA transactions and not disclose access or otherwise make them available to anyone in all circumstances; (b) immediately report to USSC any loss, theft, and known or suspected unauthorized use of the SPCN and/or Super U App and/or U Wallet. You likewise agree that in the event you have a due and demandable obligation to USSC, its affiliates and/or subsidiaries, you hereby authorize USSC to automatically debit from the funds available in your U Wallet amount/s owing to USSC, its affiliates and/or subsidiaries. Within fifteen (15) days from the date of debit, USSC shall notify you via registered mail of the debit made and the obligation/s satisfied as a consequence of the debit.
    br
    br
    li Account Security and Password – You will be responsible for keeping the confidentiality of your Control Number, User ID and Password, if applicable. You take full responsibility for protecting your personal information and account once you are enrolled in the service/s and using secure communication lines and internet connection when utilizing the service/s. You agree that your Control Number and/or Password is known only to you, and as such any transaction done using your login credentials is presumed to be done by you or authorized by you. You acknowledge and attest that you, as the Super U App user, are the legitimate recipient of the inbound remittance/control number you are processing or have processed with the USSC app. In the event that, in your use of the Super U App, any inbound remittance that is intended for another person has been erroneously paid to you, USSC shall have the right to demand payment and collect from you the amounts that were erroneously processed in your favor and USSC shall be free and/or harmless from any suits, liabilities, damages and/or criminal action in relation to any payout error thereof. USSC may also pursue criminal actions against you at any time, if it is exposed by the remittance system, company records or another customer’s written or verbal complaint that you have processed an inbound remittance in your favor even if it was not intended for you .
    br
    br
    li Unauthorized Access to the U CASH PADALA thru U Wallet and/or Super U App . You agree to report immediately to USSC, your discovery of any unauthorized access of your U Wallet and/or Super U App by immediately calling the USSC Customer Service Group at (02) 928-USSC. USSC shall inform you after the blocking of access to your mobile application is done. Any losses you incur prior to the blocking of your U Wallet shall be for your account. You further agree that only after the thirty (30)-day period from the time of the report can you claim reimbursement for whatever unused value is left on the U Wallet. Reimbursement can be done either in cash, or via a replacement U Wallet access, at your option, both of which may be subject to applicable service fees.
    br
    br
    li  Liability – USSC shall not be liable for any loss or damage by your use of the U CASH PADALA Service if the same shall be without the fault of USSC or its employees. Other liabilities or the lack of it is governed by the separate terms and conditions for Super U App and/or U Wallet.
    br
    br
    li Customer Complaint. You may communicate any complaint regarding the use of your Super U App and its transactions by calling the USSC Customer Service Hotline at (02) 928-USSC.
    br
    br
    li Disclosure of Information to Third Parties. You agree that we may disclose information to authorized third parties about your U CASH PADALA transactions (a) where it is necessary for completing transactions; (b) to verify the existence and condition of your U CASH PADALA to an authorized third party; (c) to utilize services of third parties and affiliate entities who assist us in providing the Super U App and U Wallet and/or related services; (d) to comply with the rules, regulations, administrative circulars and letter-instruction issued by the government or its agencies and instrumentalities, court orders, processes and writs; (e) if you owe us money or there are legal proceedings in connection with your Super U App and/or U Wallet, information may be released to attorneys, accountants, collection bureaus, financial institutions, and others involved in collection, adjustment, settlement or reporting; (f) to protect against potential fraud and other crimes involving the funds of your Super U App or your U Wallet; or (g) when otherwise permitted by law. USSC may also share information about you and your Super U App, based on USSC’s transactions and experiences with you, USSC’s affiliates and subsidiary companies.
    br
    br
    li Cost and Venue of Suit. In case of any litigation arising from your U CASH PADALA transactions, you shall pay the cost and expenses of litigation and attorney’s fees equivalent to 25% of the amount involved and in any case not less than P10,000.00 and any legal actions arising hereunder shall be adjudicated before a court of competent jurisdiction located in Quezon City, to the exclusion of all other courts.
    br
    br
    li ndemnity. You shall indemnify and keep USSC and its authorized wholesale distribution partners fully indemnified against all claims, demands, actions and proceedings which may be made against USSC and in respect of any and all damages, liabilities, losses, costs and expenses (including legal costs on a full indemnity basis) which may be incurred, sustained or suffered by us, directly or indirectly, due to the use or misuse of the U Cash Padala Service, negligence, misconduct or breach of any of these Terms and Conditions by you and/or any other act, thing or matter arising out of or in connection with these Terms and Conditions.
    br
    br
    li Amendments and Notices. USSC may change these Terms and Conditions or any features of the U Cash Padala Service as it may deem necessary for the best interest of USSC, the customers and users of the Super U App and/or the U Wallet. USSC shall notify you of such change through an SMS notification sent to the mobile number you’ve provided in our database as required by law. You are deemed to have accepted the changes in the Terms and Conditions if you use the Super U App and /or the U Wallet despite receipt of the notice regarding the changes made or do not terminate this service after the effective date of the change as stated in USSC‘s notice. The amended terms and conditions, rules and regulations arising from this Terms and Conditions shall be communicated by posting notice of such amendment in the eligible USSC branches or in such other form or manner as may be determined by USSC. You agree to receive promotional information from USSC from time to time. In case you no longer wish to receive such information, you may inform USSC thru the opt out response thru SMS or email.
    br
    br
    li Governing Law and Other Terms. These terms and conditions shall be governed by and interpreted pursuant to the laws of the Republic of the Philippines. If any provision of these terms and conditions is, for any reason, found to be unenforceable, the remainder of this Agreement will continue to be in full force and effect
    br
    br
    li Agreement to these Terms and Conditions. Your signature on the U Cash Padala Proof of Transactions and/ or confirmation of U Cash Padala transaction in the Super U App constitutes your agreement to these Terms and Conditions. Should you be in violation of the above-agreed Terms and Conditions, USSC may, at any time, cancel the privileges extended under the U Cash Padala Service.