extends ../layout


block content
  h3 USSC PRIVACY POLICY

  h3 PRIVACY POLICY STATEMENT

  p This policy describes how we, Universal Storefront Services Corporation (“USSC”), and its subsidiary, USSC Money Services Inc. (“UMSI”), collect, use, protect and share the personal information of our customer. Customers include those who visit our stores, use our website, social media page and mobile apps, and otherwise interact with us.

  ol
    li What we collect

  p We collect different types of personal information relating to you, and the types of information we collect will depend on the products and services you avail, which may include name, gender, date of birth, place of birth, telephone/mobile number, email address, permanent/present address, proof of identification, biometric, etc. It also includes information about your transaction including your bank account, money transfer and bills payment.

  p We collect information through automated methods

  p We may use automated technology to collect information from your mobile device when you use our online services. Automated technology may include cookies. There is more information below about cookies and other technology.

  p We may collect information about your:

  ul
    li Computer or mobile device operating system and browser type;
    li Type of mobile device;
    li Communication to us or regarding us on social media; and
    li Activity related to how you use our online services, such as the pages you visit on our sites or in our mobile apps.

  p Our online services may collect information about the exact location of your mobile device using geolocation such as GPS. For most mobile devices, you are able to withdraw your permission for us to collect this information by using the device settings. However, some online services may not work properly without information about your location. If you would like us to delete information, we have collected which could identify your location, please contact us at the address, phone number or email address below. By law, we may need to keep certain information.

  p We collect information from other sources

  p We may collect information about you that is publicly available. For example, we may collect information about you when you interact with us through social media.

  ol
    li When we use
  p We may use the information we collect to:

  ul
    li Carry out your requests and process your transactions for our products and services;
    li Tell you about our products and services, offers or promotions that we believe may interest you (if you give us permission to do so);
    li Tell you about the product and services of our business partners (if you give us permission to do so);
    li Communicate with you about your transactions, purchases or accounts with us, request, questions and comments;
    li Manage our business, including developing new products and services, conducting consumer research, assessing effectiveness of our front-line ambassadors and other legitimate business purposes;
    li Protect against, identify and prevent fraud and other crime, claims and other liabilities; and
    li Comply with applicable law

  ol
    li Whom we disclose

  p We may share your information with subsidiaries, partners or affiliates that carry out our product and services, and vendors who provide services to us, such as managing promotions and carrying our research and analysis. We do not allow these partners, affiliates and vendors to use this information or to share it for any purpose other than to provide service on our behalf.

  p There may be times where we may share information when it does not directly identify you. For example, we may share anonymous, aggregated statistics about your use of our online services. Or we may combine information about you with other customer and share the information in a way that does not link to a specific customer.

  ol
    li Choices

  p If you have agreed marketing communications from us, you can later opt out by following the opt-out instructions in the marketing communications we send you. You can also opt out by contacting us at the address, phone number or email address below. If you do opt out of receiving marketing communications from us, we may still send communications to you about your transactions.

  p You are in control of any personal information you provide to us through online or in-store services. If at any time, you would like to correct the personal information we have about you, please contact us at the address, phone number or email address below. Likewise, if you would like to suspend, withdraw, or order the blocking, removal, or destruction of your personal information in our processing systems upon discovery and substantial proof that your personal information is no longer necessary for the purpose for which it was collected and for such other cases provided in the Data Privacy Act of 2012, you may also contact us.

  p We keep information for the length of time needed to carry out the purpose outlined in this privacy policy and to adhere to our policies on keeping records (unless a longer period is required by law).

  ol
    li Cookies
  
  p Cookies are small text files that are placed on your computer by websites that you visit. They store useful information about how you interact with the websites you visit. Cookies do not collect any

  p information stored on your computer or device or in your files. Cookies do not contain any information that would directly identify you as a person.

  p We use cookies in order to make websites work or work more efficiently.

  ol
    li How we protect your personal information

  p We take necessary steps to protect it from loss, misuse, or alteration. Where applicable, these steps can include technical measures like firewalls, intrusion detection and prevention systems, unique and complex passwords, and encryption. Organizational and physical measures are in place such as training of personnel on data processing and restricting personnel access to your personal information.

  ol
    li Contact Us

  p Universal Storefront Services Corporation

  p Address: 711 EDSA, Cubao, Quezon City 1109, Philippines

  p DPO Direct line: (632) 8249-5221

  p Trunk line: (632) 0829-8000 local 1400 Email address: dpo@ussc.com.ph

