extends ../layout


block content
  h3
    center TERMS AND CONDITIONS
  h3 
    center (U Store Mobile App and U Mobile Wallet)

  p 
    center This Agreement governs your application and activation of the U Store Mobile App and U Mobile Wallet. It is hereby understood that you voluntarily agree to be bound by the terms and conditions in this Agreement once you accept, register, fund, or use the U Store Mobile App and/or U Mobile Wallet. Kindly read the Privacy Policy of UMSI before using or transacting in the U Store Mobile App. If you failed to understand or refused to be bound by the terms and condition of this agreement and the aforesaid Privacy Policy, please refrain from using or accessing the U Store Mobile App and/or U Mobile Wallet.

  p
    center Should you be in violation of these Terms and Conditions, UMSI may, at any time, cancel the privileges extended under the U Store Mobile App and U Mobile Wallet. Your USSC U Store Mobile App and U Mobile Wallet will be deactivated, and any outstanding balance left on it may be personally withdrawn in any eligible USSC branch or authorized partners. You agree that the use of the U Store Mobile App and U Mobile Wallet is at your own risk and shall assume all risks, errors, omissions, and delays incidental to or arising out of the use of the U Store Mobile App and U Mobile Wallet


  ol
    li Definition of Terms
  
  p In this document,
  p ‘USSC’ means Universal Storefront Services Corporation, a corporation primarily engaged in the business of sending, processing and distributing money remittances through its company owned service stores and sub-agents nationwide.
  p ‘UMSI’ means USSC Money Services Inc. an entity duly licensed by the Bangko Sentral ng Pilipinas as an Electronic Money Issuer (EMI). UMSI owns and operates the U Store Mobile App and is the provider of the U Mobile Wallet.
  p ‘U Mobile Wallet’ is an Electronic wallet in which, its account holders may send and receive money electronically, or put cash in an electronic account that maybe withdrawn by the them over-the-counter in any of the storefronts of USSC and other authorized partners of UMSI, or maybe used for payments for transactions electronically. The U Mobile Wallet is not a bank deposit account. Thus, it is not under the coverage of the Philippine Deposit Insurance Corporation (PDIC) and does not earn any interest. However, it is subject to the supervision, rules, and regulations of the Banko Sentral ng Pilipinas (BSP). Further, it is governed by the Anti-Money Laundering Act (AMLA), as amended, the Data Privacy Act of 2012, and their respective Implementing Rules and Regulations.
  p ‘U Mobile App’ is a medium or mobile technology wherein a customer can use and access his/her U Mobile Wallet or do his/her regular transactions for products and services provided therein through an application designed by UMSI to run on a mobile device or a tablet computer.
  p ‘User’ refers to enrolled and activated users of the U Store Mobile App and the U Mobile Wallet.
  p ‘User ID’ refers to a unique set of characters nominated by the User to allow his/her access in the U Store Mobile App and U Mobile Wallet,
  p ‘Password’ refers to a unique string of characters nominated by the user in conjunction with the User ID to also allow access in the U Store Mobile App and the U Mobile Wallet.
  p ‘USSC Cash Card Prime’ refers to a co-branded prepaid card powered by CTBC issued under license with Via linked to a USSC account which can be used for POS purchases and ATM cash withdrawals. The card is also accepted in all Visa accredited merchants worldwide.
  p ‘U Cash Card’ refers to any/all co-branded prepaid/cash cards issued by USSC and powered by UMSI.
  p ‘U Cash Padala Service’ refers to a non-exclusive, branded domestic money transfer service of USSC conducted thru several modes or channels and offered for sale within the Philippines.
  p ‘Credit/Cash In’ refers to loading of money to the user’s U Mobile Wallet.
  p ‘Debit/Cash Out’ refers to taking money out of the user’s U Mobile Wallet.
  p ‘Sendout’ refers to sending out of money either internationally or domestic via Western Union remittance service, U Cash Padala domestic remittance, and/or other international or domestic money transfer service partners which may be added from time to time.
  p ‘Payout’ refers to receiving of money via remittance services of Western Union,, U Cash Padala domestic remittance, and other international or domestic money transfer service partners which may be added from time to time.
  p ‘Instapay’, refers to an electronic fund transfer (EFT) service that allows customers to transfer PHP funds almost instantly between accounts of participating BSP-supervised banks and non-bank e-money issuers in the Philippines. The service is available 24x7, all year round.
  p ‘Pay1st Payment Module’ - means the payment module which provide a non-bank payment gateway for the customers thru any eligible USSC branches or other accredited partners with provision for web-based and short messaging system (SMS) monitoring platform.

  ol
    li ‘Transactions’ may refer to the following:
  ol
    li Send and Receive for international (IMT) and/or domestic money (DMT) transfer services via Western Union; Send and Receive for domestic money transfer services via U Cash Padala services; Receive IMT and Send and Receive DMT Transactions via other Partners;
    li Check real time balance for UMSI U Mobile Wallet;
    li Transfer fund from U Mobile Wallet to Cash Card Prime or U Cash Card;
    li Check accumulated loyalty stars/points and its corresponding freebie for redemption;
    li E-loading thru Load Central;
    li FB messages or sharing thru FB and FB messenger;
    li USSC and other Partner’s Branch locator with google maps;
    li Lifeguard and Lifeguard Plus Insurance purchase;
    li USSC and UMSI Promo Code tracking;
    li Earn Super U Loyal points;
    li Bills payment thru Pay1st, CIS Bayad Center, and ECPAY API;
    li Foreign currency exchange through U Mobile Wallet Peso transfer to U Mobile Wallet USD and vice versa;
    li Bank Transfer via Instapay;
    li Ability to pay other InstaPay financial institution's merchants via InstaPay Person-to-Merchant (P2M.);
    li Ability to pay other InstaPay financial institution's billers via InstaPay Person-to-Business (P2B).
    li Purchase and/or payment of goods and services offered by UMSI accredited vendors and/or dealers;
    li Redemption of Buhay Super Rewards via Share Treats;
    li Transfer money from the user’s bank account to UMSI U Mobile Wallet via Load from Bank module; and
    li Transfer money from the user’s U Mobile Wallet to another U Mobile Wallet
      ol
        li Enrollment Process, Data Privacy Gathering, Protection and Consent
      ol
        li You acknowledge that during the process of enrollment for U Store Mobile App and U Mobile Wallet, personal and/or sensitive personal data (“data”) shall be asked from you or forms shall be filled up requiring these data. The collection, use or processing of these data shall be in accordance with Data Privacy Act of 2012. In addition to these data, you shall be required to undergo electronic fingerprint scanning or biometrics for personal identification and security purposes of your mobile application. You give your consent to the collection and necessary use of these data, such as but not limited to the following purpose/s:
      ul
        li Personal identification for enrollment and access or use of your U Store Mobile App and U Mobile Wallet;
        li Personal identification or Know-Your-Customer (KYC) procedures pursuant to the law on anti-money laundering;
        li Business or commercial purposes related to the U Store Mobile App and U Mobile Wallet and/or third party commissioned studies or analytics related to the U Store Mobile App and U Mobile Wallet;
        li Other legitimate, business or commercial purposes which UMSI may determine from time to time.
        li Choosing of product type will be done during wallet creation.
        li Validation of product type will be through the wallet’s account number.
      ol
        li E-KYC for Minors
      ol
        li U Store Mobile App and U Mobile Wallet activation shall be allowed for Minors provided that a legal Guardian will agree to the terms and conditions. Minors are defined as people under the age of 18 years old.
      ol
        li In addition to the standard KYC of the customer, the applicant must provide:
      ul 
        li Full name of Guardian
        li Relationship to Guardian
        li Guardian date of birth
        li Guardian address
        li Guardian contact details
        li Guardian identification
      ol
        li A customer service representative shall conduct a verification of identity through the legal guardian.
      ol
        li Enrollment and Activation Requirements
      ol
        li You understand that prior to the mobile account’s activation, you are required to have an active UMSI U Mobile Wallet which is available in any eligible USSC station.
      ol
        li You may likewise activate your U Mobile Account and U Wallet via live online verification process conducted through videotelephony or any other similar modes, as may be determined by UMSI.
      ol
        li Accuracy of Information
      ol
        li You are responsible for and must take all reasonable care to ensure the information you supply is accurate. We accept no responsibility and liability for the accuracy of the information or for failure to transmit such information in the manner requested by you.
      ol
        li Account Security and Password
      ol
        li You will be responsible for keeping the confidentiality of your User ID and Password. You take full responsibility for protecting your personal information and account once you are enrolled in the service/s and using secure communication lines and internet connection when utilizing the service/s. You agree that your Password is known only to you, and as such any transaction done using your login credentials is presumed to be done by you or authorized by you. You acknowledge and attest that you, as the U Store Mobile App and U Mobile Wallet user are the legitimate recipient of the wallet transfer or the inbound remittance/Money Transfer Control Number (MTCN) you are processing or have processed with the U Store Mobile App.
      ol
        li In the event that, in your use of the U Store Mobile App, any wallet transfer or inbound remittance that is intended for another person has been erroneously paid to you, UMSI shall have the right to demand payment and collect from you the amounts that were erroneously processed in your favor and UMSI, its affiliates, agents, partners, officers, and employees shall be free and/or harmless from any suits, liabilities, damages and/or criminal action in relation to any payout error thereof. UMSI may also pursue criminal actions against you at any time, if it is exposed by the E-money or remittance system, company records, or another customer’s written or verbal complaint that you have processed a wallet transfer or an inbound remittance in your favor even if it was not intended for you.
      ol
        li Customer’s Obligation
      ol
        li For your protection, you agree, at all times, to: (a) safely keep any information about the U Store Mobile App and U Mobile Wallet and not disclose access or otherwise make them available to anyone in all circumstances; (b) immediately report to UMSI any loss, theft, and known or suspected unauthorized use of the U Store Mobile App and U Mobile Wallet.
      ol
        li  You likewise agree that in the event you have a due and demandable obligation to UMSI, its affiliates and/or subsidiaries, you hereby authorize UMSI to automatically debit from the funds available in your U Mobile Wallet amount/s owing to UMSI, its affiliates and/or subsidiaries. Within fifteen (15) days from the date of debit, UMSI shall notify you via registered mail of the debit made and the obligation/s satisfied as a consequence of the debit.
      ol
        li Ways to load funds to your USSC Service App
      ol
        li Your U Store Mobile App is connected and funded by your U Mobile Wallet.
      ul
        li You may cash-in funds to the U Mobile Wallet at business hours via: (a) over-the-counter (OTC) at any eligible USSC branch or other authorized partners; (b) such other channel/s as may be introduced by UMSI in the future.
        li You may also cash in funds via Load from Bank module.
        li Value loading shall be strictly on cash basis only. Check payments shall not be acceptable as a form of value - loading.
        li Fingerprint verification is required.
        li Only the owner of U Mobile Wallet can transact.
      ol
        li USSC Service App Transactions
      ol
        li U Store Mobile App and U Mobile Wallet can be used for transactions done only in the Philippines. You are liable with every transaction done through your U Store Mobile App and U Mobile Wallet. All transactions will be funded by your U Mobile Wallet. It is your responsibility to ensure sufficient funds are available in your U Mobile Wallet account at all times to cover any of your transactions and its corresponding transfer fees.
      ol
        li Any charges or penalties as a result of an unsuccessful transaction due to insufficiency of funds or dormancy of the account will be your sole responsibility and shall be for your account. You also acknowledge that there are services wherein once transactions are completed, may no longer be reversed or reinstated.
      ol
        li Fees and Charges.
      ol
        li UMSI reserves all rights to charge cash-in and cash-out fees to and from the U Mobile Wallet and you hereby authorize UMSI to debit the U Mobile Wallet balance for the amount of the service fees and charges related to the use of the U Mobile Wallet.
      ol
        li The rate of such charges, period and method of payment shall be based on UMSI’s announcement which shall be communicated to you by posting notice of such amendment in all the branches of USSC and other authorized partners or in such other form or manner as may be determined by UMSI.
      ol
        li The charges shall be binding and payable by you if the U Mobile Wallet are still being used after the announcement whether you have knowledge of the announcement or not. If in cases of reversals, charges may be refundable as long as transaction has not yet been consumed.
      ol
        li Unauthorized Access to the USSC Service App
      ol
        li You agree to report immediately to UMSI, your discovery of any unauthorized access of your U Store Mobile App and U Mobile Wallet by immediately calling Customer Service at (02) 8928-USSC (8772). UMSI shall inform you after the blocking of access to your mobile application is done.
      ol
        li Any losses you incur prior to the blocking of your U Mobile Wallet shall be for your account. You further agree that only after the thirty (30)-day period from the time of the report can you claim reimbursement for whatever unused value is left on the U Mobile Wallet. Reimbursement can be done either in cash, or via a replacement U Mobile Wallet access, at your option, both of which may be subject to applicable service fees.
      ol
        li Liability
      ol
        li UMSI shall not be liable for any loss or damage of whatever nature in connection with the implementation of transactions coursed through U Store Mobile App and U Mobile Wallet in the following instances:
    
    p a. Disruption, failure or delay relating to or in connection with the U Store Mobile App and U Mobile Wallet which are due to circumstances beyond the control of UMSI, fortuitous events such as but not limited to prolonged power outages, breakdown in computers and communication facilities, typhoons, floods, public disturbances and calamities and other similar or related cases.
    p b. Loss or damage you may suffer arising out of any improper, fraudulent access or utilization of the U Store Mobile App and U Mobile Wallet due to theft or unauthorized disclosure of User IDs, passwords, MPINs or violation of other security measures with or without your participation.
    p c. Inaccurate, incomplete or delayed information you receive due to disruption or failure of any communication facilities used for U Store Mobile App and U Mobile Wallet.
    p d. Such other circumstances or reasons which effectively prevent UMSI from implementing the transaction. This also includes delay of posting date for bills payment done via the bills pay module.
    ol
      li UMSI shall not be liable for any indirect, incidental or consequential loss, loss of profit or damage you may suffer or have suffered by reason of your use or failure or inability to use the U Store Mobile App and U Mobile Wallet.
    ol
      li Ownership of U Store Mobile App
    p 14.1 U Store Mobile App and access to it are USSC’s properties which the customer shall uphold and respect. At UMSI’s sole discretion, UMSI may revoke the U Store Mobile App or terminate the use of the U Store Mobile App without cause or notice to you.
    p 15. Customer Complaint
    p 15.1 You may communicate any complaint regarding the use of your U Store Mobile App and its transactions by calling the UMSI Customer Service Hotline at (02) 8-928-USSC (8772).
    p 16. Account Closure
    p 16.1 In case you wish to close your account, you may redeem any remaining balance in your U Mobile Wallet by doing a cash-out in any eligible USSC branch or other authorized partners.
    p 17. Disclosure of Information to Third Parties
    p 17.1 You agree that we may disclose information to authorized third parties about your U Store Mobile App and U Mobile Wallet (a) where it is necessary for completing transactions; (b) to verify the existence and condition of your U Store Mobile App and U Mobile Wallet to an authorized third party; (c) to utilize services of third parties and affiliate entities who assist us in providing the U Store Mobile App, U Mobile Wallet and related services; (d) to comply with the rules, regulations, administrative circulars and letter-instruction issued by the government or its agencies and instrumentalities, court orders, processes and writs; (e) if you owe us money or there are legal proceedings in connection with your U Store Mobile App and U Mobile Wallet information may be released to attorneys, accountants, collection bureaus, financial institutions, and others involved in collection, adjustment, settlement or reporting; (f) to protect against potential fraud and other crimes involving the funds of your U Store Mobile App and U Mobile Wallet or your UU Store Mobile App and U Mobile Wallet; or (g) when otherwise permitted by law. UMSI may also share information about you and your U Store Mobile App and U Mobile Wallet, based on UMSI’s transactions and experiences with you, UMSI’s affiliates and subsidiary companies.
    p 18. Cost and Venue of Suit
    p 18.1 In case of any litigation arising from your U Store Mobile App and U Mobile Wallet, you shall pay the cost and expenses of litigation and attorney’s fees equivalent to 25% of the amount involved and in any case not less than P10,000.00 and any legal actions arising hereunder shall be adjudicated before a court of competent jurisdiction located in Quezon City, to the exclusion of all other courts.
    p 19. Indemnity
    p 19.1 You shall indemnify and keep UMSI and its authorized partners fully indemnified against all claims, demands, actions and proceedings which may be made against UMSI and in respect of any and all damages, liabilities, losses, costs and expenses (including legal costs on a full indemnity basis) which may be incurred, sustained or suffered by us, directly or indirectly, due to the use or misuse of the U Store Mobile App and U Mobile Wallet, negligence, misconduct or breach of any of these Terms and Conditions by you and/or any other act, thing or matter arising out of or in connection with these Terms and Conditions.
    p 20. Amendments and Notices
    p 20.1. UMSI may change these Terms and Conditions or any features of the U Store Mobile App and U Mobile Wallet as it may deem necessary for the best interest of UMSI, the customers and users of the U Store Mobile App and U Mobile Wallet. USSC shall notify you of such change through an SMS notification sent to the mobile number you’ve provided in our database as required by law. You are deemed to have accepted the changes in the Terms and Conditions if you use the U Store Mobile App and U Mobile Wallet despite receipt of the notice regarding the changes made or do not terminate this service after the effective date of the change as stated in UMSI‘s notice.
    p 20.2. The amended terms and conditions, rules and regulations arising from these Terms and Conditions shall be communicated by posting notice of such amendment in the eligible USSC branches or in such other form or manner as may be determined by UMSI. You agree to receive promotional information from UMSI from time to time. In case you no longer wish to receive such information, you may inform UMSI thru the opt out response thru SMS or email.
    p 21. Governing Law and Other Terms
    p 21.1 These terms and conditions shall be governed by and interpreted pursuant to the laws of the Republic of the Philippines. If any provision of these terms and conditions is, for any reason, found to be unenforceable, the remainder of this Agreement will continue to be in full force and effect.




      
