extends ../layout

block content
  h4 TERMS AND CONDITIONS
  p This Agreement governs your usage of the U GIFT service thru several channels as defined below. By accepting, funding, and using the U GIFT service, you voluntarily agree to be bound to its terms and conditions.

  ol
    li Definition of Terms. In this document, USSC means Universal Storefront Services Corporation; U GIFT is a service that customers may use to conveniently avail of e-gift certificates (e-GCs) through any USSC branch and the USSC Super Service App; USSC Super Service App is an application designed by USSC to run on a mobile device or a tablet computer where customers may process their regular USSC transactions. U Mobile Wallet refers to an electronic wallet, powered by USSC Money Services Inc., that funds USSC transactions processed through the USSC Super Service App. U Mobile Wallet balance may be loaded thru cash-in and drawn out thru cash-out from any eligible USSC branch; Eligible USSC branch is any active USSC location;
    br
    br
    li Enrollment and Activation Requirements. You understand that before the use of U GIFT service thru the USSC Super Service App or any eligible USSC branch, you are required to enroll/sign-up for a USSC Super Service App with an active U Mobile Wallet or have a Panalokard Number. These enrolments, activations or sign-ups are governed by separate terms and conditions.
    br
    br
    li Accuracy of Information. You are responsible for and must take all reasonable care to ensure the information you supply is accurate. We accept no responsibility and liability for the accuracy of the information or for failure to transmit such information in the manner requested by you.
    br
    br
    li Customer's Obligation. For your protection, you agree to always (a) safely keep any information about your U GIFT transactions and not disclose access or otherwise make them available to anyone in all circumstances; (b) immediately report to USSC any loss, theft, and known or suspected unauthorized use your USSC Service App or U Mobile Wallet. You likewise agree that if you have a due and demandable obligation to USSC, its affiliates and/or subsidiaries, you authorize USSC to automatically debit from the funds available in your U Mobile Wallet amount/s owing to USSC, its affiliates and/or subsidiaries. Within fifteen (15) days from the date of debit, USSC shall notify you via registered mail of the debit made and the obligation/s satisfied as a consequence of the debit.
    br
    br
    li U GIFT Transaction Channels. U Gift transactions may be done thru the following channels or modes: (a) Over-The-Counter (OTC) at any eligible USSC branch; (b) via the USSC Super Service App subject to the terms and conditions governing the use of the app.
    br
    br
    li U GIFT Transaction Fees. USSC reserves all rights to charge transaction fees to which U Gift services are subject to.  If processed through the USSC Super Service App, you authorize USSC to debit the total cost of your U Gift transaction, including said fees, from your U Mobile Wallet balance. The process will not proceed if your U Mobile Wallet balance is insufficient. Communication of changes on the table of fees or payment methods will be done through posting of amendment notices in all USSC branches or such other form or manner as may be determined by USSC. The charges shall be binding and payable by you if you have proceeded with the transaction after amendments are announced whether or not you are aware of such announcement.
    br
    br
    li Liability. USSC shall not be liable for any loss or damage by your use or access to the U GIFT Service if the same shall be without the fault of USSC or its employees. Other liabilities or the lack of it is governed by the separate terms and conditions for USSC Service App and/or U Mobile Wallet.
    br
    br
    li Customer Complaint. You may communicate any complaint regarding the use of your USSC Super Service App and its transactions by calling the USSC Customer Service Hotline at (02) 928-USSC.
    br
    br
    li Disclosure of Information to Third Parties. You agree that we may disclose information to authorized third parties about your U GIFT transactions (a) where it is necessary for completing transactions; (b) to verify the existence and condition of your U GIFT to an authorized third party; (c) to utilize services of third parties and affiliate entities who assist us in providing the USSC Super Service App and U Mobile Wallet and/or related services; (d) to comply with the rules, regulations, administrative circulars and letter-instruction issued by the government or its agencies and instrumentalities, court orders, processes and writs; (e) if you owe us money or there are legal proceedings in connection with your USSC Super Service App and/or U Mobile Wallet , information may be released to attorneys, accountants, collection bureaus, financial institutions, and others involved in collection, adjustment, settlement or reporting; (f) to protect against potential fraud and other crimes involving the funds of your USSC Super Service App or your USSC Super Service App itself or U Mobile Wallet ; or (g) when otherwise permitted by law. USSC may also share information about you and your USSC Super Service App, based on USSC's transactions and experiences with you, USSC's affiliates and subsidiary companies.
    br
    br
    li Cost and Venue of Suit. In case of any litigation arising from your U GIFT transactions, you shall pay the cost and expenses of litigation and attorney’s fees equivalent to 25% of the amount involved and in any case not less than P10,000.00 and any legal actions arising hereunder shall be adjudicated before a court of competent jurisdiction located in Quezon City, to the exclusion of all other courts.
    br
    br
    li Indemnity. You shall indemnify and keep USSC and its authorized wholesale distribution partners fully indemnified against all claims, demands, actions and proceedings which may be made against USSC and in respect of any and all damages, liabilities, losses, costs and expenses (including legal costs on a full indemnity basis) which may be incurred, sustained or suffered by us, directly or indirectly, due to the use or misuse of the U GIFT service, negligence, misconduct or breach of any of these Terms and Conditions by you and/or any other act, thing or matter arising out of or in connection with these Terms and Conditions.
    br
    br
    li Amendments and Notices. USSC may change these Terms and Conditions or any features of the U GIFT service as it may deem necessary for the best interest of USSC, the customers and users of the USSC Service App and/or U Mobile Wallet. USSC shall notify you of such change through an SMS notification sent to the mobile number you’ve provided in our database as required by law. You are deemed to have accepted the changes in the Terms and Conditions if you use the USSC Service App and/or U Mobile Wallet despite receipt of the notice regarding the changes made or do not terminate this service after the effective date of the change as stated in USSC‘s notice. The amended terms and conditions, rules and regulations arising from this Terms and Conditions shall be communicated by posting notice of such amendment in the eligible USSC branches or in such other form or manner as may be determined by USSC. You agree to receive promotional information from USSC from time to time. In case you no longer wish to receive such information, you may inform USSC thru the opt out response thru SMS or email.
    br
    br
    li Governing Law and Other Terms. These terms and conditions shall be governed by and interpreted pursuant to the laws of the Republic of the Philippines. If any provision of these terms and conditions is, for any reason, found to be unenforceable, the remainder of this Agreement will continue to be in full force and effect.
    br
    br
    li Agreement to these Terms and Conditions. Your signature on this form constitutes your agreement to these Terms and Conditions. Should you be in violation of the above-agreed Terms and Conditions, USSC may, at any time, cancel the privileges extended under the U GIFT service. Your USSC Service App / U Mobile Wallet or Panalokard will be deactivated and any outstanding balance left on it may be personally withdrawn in any eligible USSC branch. You agree that the use of the USSC Service App is at your own risk and shall assume all risks, errors, omissions, and delays incidental to or arising out of the use of the USSC Service App.
 