extends ../layout

block content
  h1 Remitly User Agreement
  p This User Agreement ("Agreement") is effective as of November 12, 2012, and was most recently updated on August 26, 2021.. It describes the terms by which you will be bound when you use the services accessible at 
    a(href="https://www.remitly.com") (www.remitly.com)
    span ( "Service"). Do not use the Service if you do not agree to be bound by these terms. By using the Service you are agreeing to the terms of this Agreement.
  
  p As used throughout this Agreement, the terms "Remitly", "we", "us", and "our" refer to Remitly, Inc., a Delaware U.S.A. corporation, together with its employees, directors, successors, and assignees. The terms "you" and "your" refer to users of the Service, whether as Senders or Recipients. 
  //- i HELLLO
  h1 1.   THE SERVICE

  p We recommend you use the Service to send money to friends and family and, therefore, you should not use the Service to send money to strangers.
  p The Service allows users to send international money transfers from the United States to other countries served by Remitly. A "Sender" uses the Service to send money and a "Recipient" receives money through the Service. A "Transaction" refers to an order to send money through the Service. The "Transaction Amount" is the amount in US dollars that the Sender provides to Remitly for transmittal to the Recipient. The "Payout Amount" is the amount paid out to the Recipient.

  h1 2.   ELIGIBILITY FOR THE SERVICE

  ol
    li Age and You must be at least eighteen (18) years old to create an account, access, or use the Service as a Sender. You must be able to form legally binding contracts under applicable law. Other restrictions may apply.
    li You may not submit or receive a Transaction on behalf of any other person.
    li Residence within the United States
       span The Service is available to residents of the United States only.
    li Offer and If you submit a Transaction, you are requesting that we process your Transaction, an offer that we may accept or reject at our sole discretion.
    li Registered in the U.S.A. Only Remitly, Inc. is not licensed to provide the Service outside of the United States of As a result, the Service may not be available for use in countries other than the United States.
    li Multiple Accounts. Senders may only have one active account. If we determine that a Sender is using multiple accounts we reserve the right to merge or terminate one or more of the accounts, limit the Sender's use of the Service, or refuse their continued use of the Service.
  

  h1 3.   PAYING FOR THE SERVICE
  ol
    li With each Transaction you submit you are agreeing to pay us a service fee ("Service Fee"), in addition to the Transaction Amount. Payment in US dollars is due at the time the transaction is submitted for processing. If you submit a transaction that results in us being charged NSF fees, chargeback fees, or other similar costs, you agree to reimburse Remitly for all such fees.
    li In order for us to process your transaction you authorize us to charge any of the payment instruments included in your payment profile ("Payment Instrument" includes any credit card, debit card, or bank account). If your payment fails you authorize us to re-try one or more times using the same Payment Instrument. You warrant that you are an authorized and lawful user of the Payment Instrument(s).
    li Other Charges. We are not responsible for fees that may be imposed by financial institutions associated with your Payment Instruments. For example, some credit card issuers may treat the use of your credit card to use the Service as a "cash advance" and may impose additional fees and interest cost for the Remitly is not responsible for any NSF fees, chargeback fees, or other, similar charges that might be imposed on you by your bank, credit card issuer, or other provider.
  
  h1 4.   RECEIVING A REMITTANCE
  ol
    li Service Providers. We work with local banks and other third party outlets (each, a "Service Provider") to make funds available to As a Sender, you are appointing your Recipient as your agent for the purpose of receiving funds transmitted through the Service. We try to provide current information on our website about the location, availability, and hours of our Service Providers. However, we are not responsible for any inaccurate or incomplete information that may be posted on the website.
    li Recipients will be required to prove their identities before receiving funds by presenting valid identification. Also, Recipients may be required to provide a reference number or another similar identifier associated with their Transactions.

  h1 5.    IMPORTANT SERVICE RESTRICTIONS
  ol
    li We may refuse any Transaction or limit the amount to be transferred, either on a per transaction or aggregated basis. These limits may be imposed on individual accounts or linked accounts. We reserve the right at any time to modify or discontinue all or any part of the Service.
    li Your Transaction may be delayed by our effort to verify your identity and validate your Payment Instruments and otherwise comply with laws or manage our financial risk. You may be entitled to a refund in certain circumstances and you may cancel your transaction at any time while it is pending.
    li Commercial Transactions. You should not use the Service to send money except to people that you know. We are not responsible for, the quality or delivery of goods or services that you pay for using the You accept that using the Service to pay for goods and services is at your own risk.
    li Unauthorized Transactions. You may not use the Service in violation of this Agreement or applicable laws, rules or regulations. It is a violation of the Agreement to use the Service for any of the following: sexually-oriented materials or services, gambling activities , fraud, money-laundering, the funding of terrorist organizations, or the purchase or sale of tobacco, tobacco related paraphernalia, firearms, prescription drugs, or other controlled substances; or to send money to a Recipient that has violated the Agreement. If you use the Service in connection with illegal conduct, Remitly will report you to law
    li Your Payment Instrument must be issued by a U.S. financial institution. We may refuse Transactions from certain Senders and to certain Recipients that are included on the Specially Designated Nationals list, Non-cooperative Countries and Territories list, and such other lists as issued by different government agencies.
    li No Changes. We generally do not let you change the details of your Transaction once it's submitted to us for It is your responsibility to make sure your Transaction details are accurate
    li Restricted Activities. In connection with your use of our website or the Service, or in the course of your interactions with Remitly, a user or a third party, you will not: 1. Breach this Agreement, or any other agreement between you and Remitly; 2. Provide false, inaccurate, or misleading information;
    li Refuse to cooperate in an investigation or provide confirmation of your identity; Use an anonymizing proxy;
    li Provide yourself a cash advance from your credit card (or help others to do so); Use any automatic device, or manual process to monitor or copy our website.
    li Transactions to Remitly processes transactions to India pursuant to the Rupee Drawing Arrangements ("RDA"), as established by the Reserve Bank of India. You understand that use of the Service for commercial purposes or contributions to charitable organizations is prohibited.
  
  h1 6. HOW AND WHY WE COLLECT PERSONAL INFORMATION
  ol
    li Privacy By agreeing to this Agreement, you acknowledge and consent to 
      a(href="https://www.remitly.com/us/en/home/policy") Remity's Privacy Policy.
    li Customer Identification Program. S. law requires we obtain, verify, and record information about you. We may require that you provide us with nonpublic, personal, identifying information. We may also lawfully obtain information about you from other sources without your knowledge, including non-personal identifying information that we may obtain while you visit this website. Please see our 
      a(href="https://www.remitly.com/us/en/home/policy") Remity's Privacy Policy
    li Government Disclosures. We may provide information about you and your Transactions to government authorities and law enforcement agencies, as described in our Privacy
    li Verifying information. You authorize us to make any inquiries, to you or to others, which are necessary to validate the information that you provide to This may include asking you for additional information, requiring you to take steps to confirm ownership of your email address or financial instruments, verifying your information against third party databases, or through other sources

  h1 7. ERROR RESOLUTION, CANCELLATIONS AND REFUNDS
  ol
    li Error Let us know at any time if you have any problems with the Service.
      span You can contact us using the contact information at the bottom of this Agreement.
      p For more information about error resolution 
        a(href="https://www.remitly.com/us/en/home/errors") click here.
    li Refunds. You can cancel your transaction at any time prior to its completion. Completion means that your recipient claimed the money you sent either through cash pick-up, home delivery, or bank account deposit. Upon receipt of a cancellation request, we may confirm with our Service Providers to determine whether the transaction has been completed prior to initiating a refund.


  p The Transaction Amount will not be refunded after completion. If, however, you are not satisfied with our service for any reason we will always refund the fee amount. All refunds will be credited to the same Payment Instrument used to pay for the Transaction. Refunds are only made in U.S. dollars and will not be adjusted to account for changes in the value of the U.S. dollar or foreign currency from the time your Transaction was submitted. Please note that residents of certain jurisdictions may have certain refund rights and complaint procedures, as described here:
  ul
    li Washington As a Sender located in the state of Washington, you are entitled to a refund of all moneys received for transmittal within ten days of receipt of a written request for refund unless any of the following occurs:
      ul
        li The monies have been transmitted and delivered to the recipient prior to receipt of the written request for a refund;
        li Instructions have been given committing an equivalent amount of money to the person designated by the customer prior to receipt of a written request for a refund;
        li Remitly, or its authorized delegate has reason to believe that a crime has occurred, is occurring, or may potentially occur as a result of transmitting the money as requested by the customer or refunding the money as requested by the customer; or
        li Remitly is otherwise barred by law from making a
    li Texas As a Sender located in the state of Texas, you are entitled to cancel a transaction, and receive an immediate refund of all money charged for the remittance, including any fees paid to Remitly, within thirty minutes of receiving a receipt, unless the intended recipient of the transaction has received the funds, or its equivalent.
    li If you have a complaint first contact the consumer assistance division of Remitly, Inc at 1-888-736-4859, if you still have an unresolved complaint regarding the company's money transmission or currency exchange activity, please direct your complaint to: Texas Department of Banking, 2601 North Lamar Boulevard, Austin, Texas 78705, (877) 276-5554 (toll free), 
      a(href="https://www.dob.texas.gov.") www.dob.texas.gov.
  
  p For Alaska Residents Only:

  p If your issue is unresolved by Remitly, Inc at 1-888-736-4859, please submit formal complaints with the State of Alaska, Division of Banking & Securities.

  p Formal complaints must be in writing, please download the form 
    a(href="https://www.commerce.alaska.gov/web/portals/3/pub/DBSGeneralComplaintFormupdated.pdf") here

  p Formal complaint forms may be submitted via:
    ol
      li Fax: 907-465-1230
      li Email: msblicensing@alaska.gov
      li Mail: Division of Banking & Securities PO Box 110807 Juneau, AK 
        p If you have questions regarding formal complaints, please call 907-465-2521
  
  h1 8.     REMITLY'S INTELLECTUAL PROPERTY

  p You acknowledge that the Service, including the content of this website, text, graphics, logos, and images, as well as all other Remitly copyrights, trademarks, logos, and product and service names are owned exclusively by Remitly, Inc. (the "Remitly Intellectual Property").

  p You agree not to display, use, copy, or modify the Remitly Intellectual Property in any manner. You are authorized solely to view and retain a copy of the pages of this website for your own personal, non-commercial use. You further agree not to: (i) use any robot, spider, scraper or other automated device to access the Service; (ii) remove or alter any author, trademark or other proprietary notice or legend displayed on this website (or printed pages thereof); or (iii) infringe Remitly's or any third party's copyright, patent, trademark, trade secret or other intellectual property rights, or rights of publicity or privacy..

  p If you provide us with any suggestions, feedback, reviews or input (“Customer Input”) related to our Services, we (and our corporate group entities) will own all right, title and interest in and to the Customer Input, even if you have designated the Customer Input as confidential. We and our corporate group entities will be entitled to use the Customer Input without restriction, including for marketing or business purposes. You assign to us all right, title and interest in and to the Customer Input and agree to provide us with any assistance we may require to document, perfect and maintain our rights in the Customer Input. For this purpose the word: “assign” is legal term which means legally transferring the benefit, such as you legally transferring the benefit of the Customer Input to us.

  h1 9.     DISCLAIMER OF WARRANTIES

  p We make reasonable efforts to ensure that Transactions are processed in a timely manner, but we make no representations or warranties regarding the time needed to complete processing because the Service is dependent on many factors outside our control. Some jurisdictions do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you. This warranty gives you specific legal rights and you may also have other legal rights that vary state to state. In any event, you may have a right to a refund as expressly described herein.

  h1 10.     INDEMNITY

  p You agree to indemnify and hold Remitly, Service Providers, and their respective subsidiaries, officers, agents, partners, and employees harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of the Service, your connection to the Service, your violation of the Agreement, or your violation of any rights of another.

  h1 11.     LIMITATION OF LIABILITY

  p IN NO EVENT SHALL REMITLY, SERVICE PROVIDERS, OR THEIR RESPECTIVE SUBSIDIARIES, OFFICERS, AGENTS, PARTNERS, OR EMPLOYEES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES BEYOND THE SUM OF $500.00 (IN ADDITION TO REFUNDING THE TRANSACTION AMOUNT AND SERVICE FEES), INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF REMITLY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM NEGLIGENCE ON THE PART OF REMITLY, DISBURSEMENT PARTNERS, OR THEIR RESPECTIVE SUBSIDIARIES, OFFICERS, AGENTS, PARTNERS, OR EMPLOYEES.

  h1 12.     DISPUTE RESOLUTION AND GOVERNING LAW

  ol
    li Governing This Agreement shall be governed according to the laws of the State of Washington, and all activities performed in connection with the Service shall be deemed to have been performed in Washington. Any controversy, dispute, or claim arising out of or relating to the Service or Agreement (a "Claim") shall be governed by and construed in accordance with the laws of Washington, except that body of law governing conflicts of law.
    li Disputes with Remitly. If a dispute arises between you and Remitly, our goal is to learn about and address your If we are unable to address your concerns to your satisfaction, we will seek to provide you with a neutral and cost-effective means of resolving the dispute quickly. Disputes between you and Remitly regarding the Service may be reported online to Customer Service; by telephone at 1-888-736-4859 (outside the United States, call 1 (206) 535-6152); or by mail at Remitly, Inc., attn: Customer Service, 1111 3rd Ave, Suite 2100, Seattle WA 98101, USA.
    li Arbitration You and Remitly agree that any Claim will be settled by binding arbitration, except that each party retains the right to bring an individual action in small claims court. If a party elects arbitration, that party will initiate such arbitration through an established alternative dispute resolution (ADR) provider mutually agreed upon by the parties. The ADR provider and the parties must comply with the following rules: (a) the arbitration shall be conducted by telephone, online and/or be solely based on written submissions, the specific manner shall be chosen by the party initiating the arbitration; (b) the arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise mutually agreed by the parties; (c) the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative proceeding; and (d) any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. You acknowledge and agree that you and Remitly are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding.
    li Costs and If your claim does not seek an award of more than $75,000, Remitly will pay the fees associated with arbitration unless the arbitrator finds that either the substance of your Claim or the relief sought to be frivolous or brought for an improper purpose. If you prevail in arbitration you may be entitled to an award of attorneys' fees and expenses, to the extent provided under applicable law. Remitly will not seek, and hereby waives all rights it may have under applicable law to recover, attorneys' fees and expenses if it prevails in arbitration unless the arbitrator finds that either the substance of your Claim or the relief sought to be frivolous or brought for an improper purpose.
    li Forum for Disputes. Except as otherwise agreed by the parties or as described in section 12(c) above, you agree that any claim or dispute you may have against Remitly must be resolved by a court located in King County. You agree to submit to the personal jurisdiction of the courts located within King County, Washington for the purpose of litigating all such claims or
    li Improperly Filed Litigation. All claims you bring against Remitly must be resolved in accordance with section 12 of this All claims filed or brought contrary to section 12 shall be considered improperly filed, and a breach of this Agreement.

  p Should you file a claim contrary to section 12, Remitly may recover attorneys' fees and costs (including in-house attorneys and paralegals) up to $1,000.00 USD, provided that Remitly has notified you in writing of the improperly filed claim, and you have failed to promptly withdraw the claim.

  h1 13.     COMMUNICATIONS

  p You acknowledge that this Agreement shall be entered into electronically, and that the following categories of information ("Communications") may be provided by electronic means: (i) this Agreement and any amendments, modifications or supplements to it; (ii) your records of transactions through the Service; (iii) any initial, periodic or other disclosures or notices provided in connection with the Service, including without limitation those required by federal or state law; (iv) any customer service communications, including without limitation communications with respect to claims of error or unauthorized use of the Service; (v) any other communication related to the Service or Remitly.

  p Communications may be provided to you through the use of autodialed or prerecorded message calls or text messages at the telephone number(s) that you provide us with. We may contact you directly or we may share your phone number with service providers with whom we contract to provide such Communications. Standard telephone minute and text charges may apply. The hardware and software requirements for access to and retention of the Communications associated with the Service include a personal computer or other device which is capable of accessing the Internet; an Internet Web Browser; and a printer or other device capable of printing and/ or retaining agreements and documents.

  p  does not allow for Communications to be provided in paper format or through other non-electronic means. You may withdraw your consent to receive Communications electronically, but if you do, your use of the Service shall be terminated. In order to withdraw your consent, you must contact us using our contact information at the end of this Agreement.

  h1 14.     MISCELLANEOUS

  ol
    li PCI-DSS Compliance. Remitly is compliant and shall remain compliant with the Payment Card Industry (“PCI”) Data Security Standards to the extent we possess or otherwise store, process, or transmit your Payment Instrument data or other data subject to PCI
    li Third party websites links and content. Any external links to third-party websites or third party content on our website are provided as a convenience to you and does not imply Remitly's endorsement of the third-party website or These sites are not controlled by us in any way and we are not responsible for the accuracy, completeness, legality or any other aspect of these other sites including any content provided on them. You access such websites at your own risk.
    li Entire Agreement. The Agreement constitutes the entire agreement between you and Remitly and governs your use of the Service, superseding any prior agreements between you and
    li No Waiver. The failure of Remitly to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision. If any provision of the Agreement is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give appropriately valid effect to the intention of the Agreement as reflected in the provision, and the other provisions of the Agreement shall remain in full force and effect.
    li Force Majeure. We shall not be liable for any failure or delay in the performance of the Service to the extent such failure or delay is caused by matters beyond our reasonable control, including, without limitation: changes in applicable laws; closure or unavailability of required physical and network infrastructure; sovereign default; power or internet failure; civil unrest; war; and earthquake, fire, flood, or other natural disasters.
    li Modification. We may modify this Agreement from time to time without notice to you, except as may be required by law. You can review the most current version of the Agreement at any time by reviewing this website. You may terminate your use of the Service if you do not agree with any modification or amendment. If you use the Service after the effective date of an amendment or modification, you shall be deemed to have accepted that amendment or modification. You agree that you shall not modify this Agreement and acknowledge that any attempts by you to modify this Agreement shall be void.
    li Other Terms. This Agreement may be supplemented by terms applicable to other promotions, our Referral Program, and other terms applicable to you based upon your use of the These terms are incorporated into this Agreement by reference. To the extent that any of these terms are determined to be in conflict with this Agreement, this Agreement shall control.

  h1 15.     SECURITY

  p Your security is very important to Remitly, and we use a variety of security measures to make sure that your information is secure. We urge you to think carefully before sending money to anyone that you do not know well. In particular, you should be cautious of deals or offers that seem too good to be true. If you think you have been or might be a victim of fraud, please contact us immediately by telephone at

  p 1-888-736-4859 (outside the United States, call (206) 535-6152).

  p If you are aware of anyone or any entity that is using the Service inappropriately, please email us at abuse@remitly.com. If you receive any fake (phishing) emails, purporting to be from Remitly, please forward them to us at abuse@remitly.com.


  h1 16.     LANGUAGE

  p This Agreement is drafted in the English language and translations may be provided in other languages. You agree that the English version of the Agreement will control in the event of any inconsistency between the English and translated versions in any dispute related to this Agreement.

  h1 17.     CONTACT INFORMATION

  p Questions, notifications, and requests for refunds or further information can be sent to Remitly, as follows: 
    a(href="https://help.remitly.com/s/contact?language=en_US") online
    span ; by telephone at 1-888-736-4859 (outside the United States, call (206) 535-6152); or by mail at Remitly Inc., attn: Customer Service, 1111 3rd Ave, Suite 2100, Seattle, WA 98101, USA.

  br
  br
  h1 Remitly's Privacy Policy

  p Remitly, Inc., a Delaware corporation, is serious about protecting your privacy. This Privacy Policy ("Policy") covers how Remitly collects and uses the personal information you provide on our website and in conjunction with any of the services hosted at 
    a(href="https://www.remitly.com/us/en/philippines") www.remitly.com
    span ("Service" and "Website"), including money transfer services accessed by internet enabled devices. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information. This Policy also applies if you participate in our research projects.

  p The Policy was last updated on January 4, 2021.

  p This Policy explains what personal information we collect about you, with whom we share it, and how you can elect in certain situations to not share information with third parties. "Personal Information" refers to information such as name and email that can be used to identify you individually.

  p We may amend this Policy at any time, and whenever we do so we will notify you by posting a revised version on the Website. If, however, we plan to make a material change in the way we collect, use, or store your personal information, we will provide prior notice on our website, and by email.

  p You will then have the chance to decide whether or not we will use or disclose your information in that new manner, whether through an "opt-out" procedure or by ending your relationship with us. Such changes will become effective, at the earliest, 30 days after the date of the email notifications.

  p We ask that minors refrain from using our Service or submitting any personal information to us.

  p Minors (those under the age of 18 years) are not eligible to use our Service.

  p If you have questions or concerns regarding this Policy, you should [contact us](
    a(href="https://help.remitly.com/s/contact?language=en_US") https://www.remitly.com/home/contact).

  h1 Information We Collect

  p We will collect the following information about you, which may include non-public personal information:

  ol
    li Personal and financial Information you give us as a result of using the Service, such as your address, e-mail address, date of birth, telephone number, all or part of your Social Security number, bank account online login information, bank account number, and credit/debit card Under certain circumstances we will also collect and save information obtained from (i) copies of official identification documents, including your Passport or Drivers' License, and (ii) your picture, video/ audio recording, or other evidence of yourself with your identification documentation.
    li Third party personal information you provide in order for us to facilitate funds transfers, such as your recipient's full name, physical address, email address, and phone However, we will not contact your recipients except as instructed by you or as required to complete a transaction. This information is only used for the sole purpose of completing your request or for whatever reason it may have been provided.
    li Information about your usage of the Service, including your transaction history, and how and to whom you use the Service to send or receive money;
    li Information that we lawfully obtain from third parties, such as identity verification services, electronic database services, and credit reporting agencies;
    li Information that we indirectly obtain from you, such as information about the hardware and software you use when accessing the Service, your IP address, and the pages you access on this website, and other websites that you visit prior to accessing the

  p Technologies such as: cookies, beacons, tags and scripts are used by Remitly, Inc. and our marketing, analytics and risk partners or affiliates. These technologies are used in analyzing trends, administering the site, tracking users' movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.

  p We use cookies for site functionality, remembering user's settings (e.g. source & destination country), and for authentication. Users can control the use of cookies at the individual browser level. If you reject cookies some features or areas of our site will be limited.

  p As is true of most web sites, we gather certain information automatically and store it in log files.

  p This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data.

  p We may combine this automatically collected log information with other information we collect about you. We do this to improve services we offer you.

  p We use Local Storage Objects (LSOs) such as HTML5 to store content information and preferences.

  p Third parties with whom we partner to provide certain features on our site or to display advertising based upon your Web browsing activity use LSOs such as HTML 5 or Flash to collect and store information.

  p Various browsers may offer their own management tools for removing HTML5 LSOs. To manage Flash LSOs please [
    a(href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings/manager07.html") click here
    span ](http://www.macromedia.com/support/documentation/en/flashplayer/help/settings/manager07.html).

  p We partner with a third party to manage our advertising on other sites. Our third party partner may use technologies such as cookies to gather information about your activities on this site and other sites in order to provide you advertising based upon your browsing activities and interests. If you wish to not have this information used for the purpose of serving you interest-based ads, you may opt-out by [clicking here](http:// preferences-mgr.truste.com/). Please note this does not opt you out of being served ads. You will continue to receive generic ads.

  p You can log in to our site using sign-in services such as Facebook Connect or an Open ID provider. These services will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre- populate our sign up form. Services like Facebook Connect give you the option to post information about your activities on this Web site to your profile page to share with others within your network.

  h1 Why We Collect Information
  
  p We collect Personal and Non-Personal information for the following purposes:

  ol
    li To process your
    li To verify your
    li To collect payment for your use of the
    li To track, improve and personalise our Services, content and advertising
    li To troubleshoot problems with the
    li To comply with applicable laws and regulations, such as those relating to "know-your-customer," and anti-money laundering requirements.
    li To detect and prevent fraud and other illegal uses of the
    li To create an account connection between your Remitly account and a third- party account or platform (such as your online bank account);
    li To send you marketing notices, service updates, and promotional offers
    li To collect survey information that will be used to monitor or improve the use of our Service and overall customer

  p We will retain your information for as long as your account is active or as needed to provide you Service. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.

  h1 How We Share Information With Others

  p We will share your personal information with third parties only in the ways that are described in this privacy policy. We do not sell or rent the information we collect to third parties for their promotional purposes. These companies are authorized to use your personally identifiable information only as necessary to provide these services to us.

  p Nevertheless, we may share information about you (including nonpublic, personal information) with:

  ol
    li Third-party service providers under contract with Remitly that help us with our business operations, such as transaction processing, fraud prevention, marketing, market research, and validation of information provided. These third parties are prohibited from using your information for their own separate business
    li In the event of the sale, acquisition or merger of some or all of our assets, your personal information might be a part of the transferred We shall notify you in the event of such an occurrence, as well as any choices you may have regarding your personal information, by placing a notice on our website.
    li Law enforcement, government officials or other third parties, but only
      ul
        li in connection with a formal request, subpoena, court order, or similar legal procedure; and,
        li when we believe in good faith that disclosure is necessary to comply with the law, prevent physical harm or financial loss, report suspected illegal activity, or to investigate violations of our User
    li Other third parties that you consent or direct, which may include you authorising an account linking for a third party service, account and/or
      ul
        li For the purposes of this privacy policy, an "account linking" with such a third party is a connection you authorize or enable between your Remitly account and a non-Remitly account, payment instrument, or platform that you lawfully control or When you authorize such a connection, Remitly and the third-party will exchange your personal information and other information directly. Examples of account connections include: connecting your Remitly account to a third-party data aggregation or financial services company, if you provide such company with your account log-in credentials;
        li If you connect your Remitly account to other banking or similar accounts, directly or through a third-party service provider, we may have access to your account balance and account and transactional information, such as purchases and funds If you choose to create an account linkage, we may receive information from the third-party about you and your use of the third-party’s service. We will use all such information that we receive from a third-party via an account connection in a manner consistent with this privacy policy
        li Information that we share with a third-party based on an account connection will be used and disclosed in accordance with the third-party’s privacy Before authorizing an account connection, you should review the privacy notice of any third-party that will gain access to your personal information as part of the account connection.

  
  h1 Access To Your Information

  p You can access, modify, delete or update your personal information submitted on our Website by logging into your account and changing your preferences, by emailing our Customer Support at service@remitly.com, or by contacting us by telephone at the contact information listed below. We will respond to your request to access within a reasonable timeframe.

  h1 Research Participants

  p Personal information we collect: If you participate in any research projects for us (by phone, in-person, electronic survey or otherwise), we will hold your name, contact details and any other personal information you choose to give us when taking part in our research projects. Using your personal information: We will use this information for our legitimate interests namely to conduct our research projects which may also help us to improve and/or develop our products and services. Sharing your personal information: We will share this information with:

  ul
    li our staff (but their use shall be limited to the performance of their duties and in line with the reason for processing);
    li other companies within our group (namely Remitly, , Remitly UK Ltd, Remitly Global, Inc., Remitly Global Operations Inc. and Remitly Nicaragua S.A.);
    li our platform, database, and website hosting suppliers to enable them to maintain, protect, support and host those solutions which are used to store our research;
    li various third parties who provide software and tools which are used to operate our business (including email, instant messaging, document/contract management and file-sharing);
    li third parties in the event of the sale, acquisition or merger of some or all of our assets if your personal information is part of the transferred assets (we shall notify you in the event of such an occurrence, as well as any choices you may have regarding your personal information, by placing a notice on our Site).

  p Retaining your personal information: We will only retain your personal information for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting or reporting requirements. To determine the appropriate retention period for personal information, we consider (amongst other things):

  ul
    li obligations and/or retention periods imposed on us by applicable laws and/or our regulators
    li the amount, nature, and sensitivity of the personal information
    li the potential risk of harm from unauthorised use or disclosure of your personal information, and
    li the purposes for which we process your personal information and whether we can achieve those purposes through other

  
  h1 Notice to Customers who reside in California

  p The California Consumer Privacy Act (CCPA) exempts certain nonpublic personal information which is covered by the Gramm-Leach Bliley Act (GLBA), a federal privacy law that applies to financial institutions, like Remitly. What this means is that your nonpublic personal information that you provide to us to obtain our Service, that results from any transaction you make using our Service, or that we otherwise obtain about you in connection with us providing our Service to you (GLBA Personal Information), is not subject to the various requirements set out in the CCPA. We do not collect nonpublic personal information about you that is outside a Transaction or the provision of our Services.

  p Please be assured that we take the privacy of your GLBA Personal Information very seriously. Your GLBA Personal Information is protected under the GLBA which places certain obligations on us, and affords you certain rights, all of which are set out in this Policy. The rights you have in the event that your non-encrypted or non-redacted GLBA Personal Information is subject to unauthorized access and exfiltration, theft, or

  p disclosure as a result of our failure to implement and maintain reasonable and appropriate security procedures and practices remain.

  h1 Security

  p We employ industry accepted standards in protecting the information you submit to us on our Website.

  p We have put in place SSL (Secure Socket Layer) encryption technology to protect your sensitive information such as bank account number, credit card number, date of birth and Social Security Number, transmitted through our Website. We also require a username and password from each user who wants to access their information on our Website. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.

  p If you have any questions about security on our Web site, you can contact us at [service@remitly.com](mailto:service@remitly.com).

  h1 Choices You Can Make About Our Use Of Your Information

  p Federal and state laws allow you to restrict the sharing of your personal information in certain instances. However, these laws also state that you cannot restrict all types of sharing. Because we have chosen to refrain from certain types of data sharing, the only type of sharing of your personal information that you may restrict is as follows:

  ol 
    li You may opt-out from promotional emails to you by selecting the "Unsubscribe" function present in each email we send you.


  h1 Links to 3rd Party Sites

  p Our Site includes links to other web sites whose privacy practices may differ from those of Remitly, Inc. If you submit personal information to any of those sites, your information is governed by their privacy policies. We encourage you to carefully read the privacy policy of any web site you visit.

  h1 Google Maps

  p Parts of the Remitly Service use Google Maps services, including the Google Maps API(s). Use of these features is subject to Google Maps Additional Terms of Use and the Google Privacy Policy.

  h1 Chat

  p We use a chat feature to answer questions about our service and assist you with our website's functionality. If our chat feature is offline we will collect your name and email address so that we may reply to your request.

  h1 Social Media Widgets

  p Our web site includes Social Media Features, such as the Facebook Like button and Widgets, such as the Share this button or interactive mini-programs that run on our site. These Features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are governed by the privacy policy of the company providing it.

  h1 Import Contacts

  p You can import contacts from your Gmail and Yahoo Mail to invite them to become members of our site. We do not collect the username and password for the email account you wish to import your contacts from as you provide it directly to Gmail and Yahoo and after your approval they send us your email contacts. At your instruction we will send an email invite and at most one reminder email in addition to the original invite.

  h1 Referrals

  p If you choose to use our referral service to tell a friend about our site, we will ask you for your friend's name and email address. We will automatically send your friend an email and at most one reminder email inviting him or her to visit the site. Remitly, Inc. stores this information for the sole purpose of sending this email and tracking the success of your referral. 

  p Your friend may [request that we remove](
    a(href="https://www.remitly.com/unsubscribe/stop/invites/") https://www.remitly.com/unsubscribe/stop/invites/
    span ) this information from our database.

  h1 Complaints

  p If you have a complaint, contact Remitly Customer Service, [online](
    a(href="https://www.remitly.com/home/contact") https://www.remitly.com/home/contact
    span ); by phone 1-888-736-4859; or by email at [service@remitly.com](mailto:service@remitly.com).

  h1 Contact

  p You can [contact us](
    a(href="https://www.remitly.com/home/contact") https://www.remitly.com/home/contact
    span ) with any questions or concerns at: Remitly, Inc., 1111 3rd Ave, Suite 2100, Seattle, WA 98101 
  
  p Email: [Customer Service](mailto:service@remitly.com) Toll-Free Phone: 1-888-736-4859





  //- .div_wrapper WELL
  //-   .div_child CHILD